.section {
  height: 400px;
}

.list-section {
  margin-top: 25px;
}

.todoItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.4);
  padding: 10px;
  border-radius: 8px;
}

.todoItem p {
  margin: 0;
  font-size: 1.4rem;
}
